<nav>
    <div class="flex flex-row bg-gray-200">
        <div class="text-gray-700 text-center bg-gray-400 px-4 py-2 m-2">
            <a href="/"><i class="fas fa-address-card">&nbsp; About</i></a>
        </div>
        <div class="text-gray-700 text-center bg-gray-400 px-4 py-2 m-2">
            <a href="/projects/"><i class="fas fa-briefcase">&nbsp; Projects</i></a>
        </div>
        <div class="text-gray-700 text-center bg-gray-400 px-4 py-2 m-2">
            <a href="/blog/"><i class="fas fa-blog">&nbsp; Blog</i></a>
        </div>
    </div>
</nav>